body {
    background: #e9e9e9;
    overflow-x : hidden;
    padding-top: 60px;
    font-family: "poppins", sans-serif;
    margin: 0 100px;
    padding-bottom: 100px;
  }


th {
  font-size: 20px;
  text-shadow:
      0.07em 0 black,
      0 0.07em black,
      -0.07em 0 black,
      0 -0.07em black;
  font-family: "poppins", sans-serif;
  background-color: #e47074;
  color: white;
}

tr{
  color:black;
  font-family: "poppins", sans-serif;
  background-color: white;
}

th, td {
  padding: 15px;
  text-align: center;
}

tr:hover {background-color: rgba(236, 199, 211, 0.9);}
  
.mtext {
  color: black;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  background-color:white;


}

.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgba(150, 102, 117, 0.9);
  }
  
  .topnav a:active {
    background-color: #e47074;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

#anameSubmit:hover,
#pinfoSubmit:hover,
#sinfoSubmit:hover,
#ptitleSubmit:hover{
    background: rgba(150, 102, 117, 0.9);
  }

#anameSubmit,
#pinfoSubmit,
#sinfoSubmit,
#ptitleSubmit {
  border: 0;
  padding: 10px;
  border-radius: 3px;
  background: #e47074;
  font-family: "Bree Serif", sans-serif;
  font-size: 0.75rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background .3s ease-in-out;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,.3);
  color: #fff
}

input {
    display: inline-block;
    padding: 5px 5px;
}
  
input:not(:placeholder-shown):invalid {
    border: red solid 2px;
}

.input {
    border: 0;
    border-bottom: 1px solid #e47074;
    width: 20%;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}